body{
margin:2%;
padding:1%;
}
h1{			
color:#34fdae;
text-transform:uppercase;
}
header{
text-align:center;
background:#ffffff;
background:url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
padding: 3% 2% 4% 2%;
background-repeat:no-repeat;
position:relative;
bottom:10px;
}
section{
display:inline-block;
margin:3%;
padding:1% 2%;
border:5%;
float:left;
}
.left{
width:15%;
height:100vh;
margin: 5% 1%;
padding:3%;
border:2%;
background:#b3b3b3;
position:relative;
top:-40px;
}
.right{
width:70%;
margin:1%;
padding:1%;
border:1%;
position:relative;
top:-30px;
left:-20px;
}
nav a{
color:rgb(0,0,0);
display:inline-block;
text-decoration:none;
margin:1% 5%;
background:rgba(256,256,256,0.25);
border:1%;
padding:1% 4%;
border-radius:5%;
}
.active{
color:#666cde;
background:#ffffff;
}
a:hover{
color:#123456;
background:#ffffff;
}
h2{
color:#098765;
text-transform:uppercase;
}
img{
width:120%;
margin:0 auto;
display:inline-block;	
margin-bottom:10%;
clear:both;
border:5% solid rgb(0,0,0);
position:relative;
top:10px;
right:15px;
}
table{
border:2px #000000;
margin:2%;
padding:2%;
position:absolute;
left:50px;
}
#name,#loc,#type{
color:#ffffff;
background:rgba(50,200,100,1);
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
padding:2%;
border-radius:5px 5px 0px 0px;
border-bottom:  2px  solid rgb(10,250,10);
}
td{
border:1px  #000000;
color:rgba(10,20,30,0.75);
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
background:rgba(20,200,30,0.15);
margin:2%;
padding:2%;
}
.name{
text-align:left;
}
.loc,.type{
text-align:center;
}
.row{
opacity:0.7;
transition-property:opacity;
}
.row:hover{
opacity:1;
}




